.container {
  min-height: 100vh;
  width: 100%;
}

.abs-center {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
}

.modal-overlay {
  content: '';
  position: absolute;
  top: 0;
  background-color: #15001d48;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}
